<%- include('../partials/header.ejs') %>
<%- include('../partials/admin-navebar.ejs')%>

<div class="px-4 col-xl-10 col-lg-9 col-md-9 col-10">
    <h2 class="mt-4 fw-bold subheading">Order Details</h2>
    <hr size="4">

    <div class="row mx-2">
        <h2 class="mx-4">Items</h2>
        <hr>
        <% order.items.forEach(function(item){ %>
            <div class="card mb-3 mx-3" >
              <div class="row g-0 d-flex align-items-center px-2">
                <div class="col-lg-1 col-md-4 d-flex justify-content-center" >
                  <a class="text-secondary text-decoration-none" href="/product/<%= item.product._id %>">
                  <img src="<%= item.product.images[0] %>" class="img-fluid rounded-start " alt="" style="width: 10rem;">
              </a>
              
                </div>
                <div class="col-lg-4 col-md-3">
                  <div class="card-body">
                      
                    <h5 class="card-title fw-bold text-start"><%= item.product.productName %></h5>
                  </div>
                </div>
                <div class="col-lg-2 col-md-3">
                  <div class="card-body text-center">
                      <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                    <h5 class="card-title"><%= item.product.price %></h5>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="card-body text-center">
                      <h6 class="card-subtitle mb-2 text-muted">quantity</h6>
                    <h5 class="card-title"><%= item.quantity %></h5>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="card-body text-center">
                      <h6 class="card-subtitle mb-2 text-muted">Total Price</h6>
                    <h5 class="card-title"><%= item.product.price * item.quantity %></h5>
                  </div>
                </div>
              </div>
            </div>
      <% }) %>
    </div>

    <hr>

    <div class="row mx-4 mt-4 d-flex justify-content-between">
        <div class="col-lg-6">
            <h2 class="mx-1">Order Details</h2>
            
            <div class="mx-2 mt-3">
                <div class="d-flex ">
                    <h5 class="mt-1 ">invoice Id : </h5><p class="my-0 fs-5"> <%= order._id.toString()  %></p>
                </div>
                
                <div class="d-flex ">
                    <h5 class="mt-1 ">invoice Date : </h5><p class=" my-0 fs-5 "> <%= order.orderDate.toLocaleString('default',{day: 'numeric', month: 'numeric', year: 'numeric'}) %></p>
                </div>
                <% if(order.orderStatus === 'Processing'){ %>
                    <div class="d-flex ">
                        <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 fw-bold text-secondary"><%= order.orderStatus %></p>
                    </div>
                    <% } else if(order.orderStatus === 'Confrimed') { %>
                        <div class="d-flex ">
                            <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 fw-bold"><%= order.orderStatus %></p>
                        </div>
                        <% } else if(order.orderStatus === 'Shipping') { %>
                            <div class="d-flex ">
                                <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 text-warning fw-bold"><%= order.orderStatus %></p>
                            </div>
                            <% } else if(order.orderStatus === 'Return Pending') {%>
                              <div class="d-flex ">
                                <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 text-danger fw-bold"><%= order.orderStatus %></p>
                            </div>
                            <% } else if(order.orderStatus === 'Cancelled') {%>
                              <div class="d-flex ">
                                <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 text-danger fw-bold"><%= order.orderStatus %></p>
                            </div>
                            <% } else {%>
                                <div class="d-flex ">
                                    <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 text-success fw-bold"><%= order.orderStatus %></p>
                                </div>
                                <% } %>
                  
                  <% if(order.orderStatus === 'Delivered') {%>
                        <div class="d-flex ">
                            <h5 class="mt-1 ">Deleverd Date : </h5><p class="my-0 fs-5"> <%= order.deleveredDate.toLocaleString('default',{day: 'numeric', month: 'numeric', year: 'numeric'})  %></p>
                         </div>
                  <%}%>
                
                <div class="d-flex ">
                    <h5 class="mt-1 ">Phone : </h5><p class=" my-0 fs-5 "> <%= order.user_id.number %></p>
                </div>
                <% if(recipt) {%>
                  <div class="d-flex ">
                    <h5 class="mt-1 ">Payment Id : </h5><p class="my-0 fs-5"> <%= recipt.razorpay_payment_id  %></p>
                </div>
                <div class="d-flex ">
                  <h5 class="mt-1 ">Payment Order Id : </h5><p class="my-0 fs-5"> <%= recipt.razorpay_order_id  %></p>
              </div>
                <%}%>
                <div class="d-flex">
                    <h5 class="mt-1">Address :</h5>
                    <div>
                      <% if(order.orderAddress) {%>
                        <p class=" fs-5 ms-3 my-0"><%= order.orderAddress.houseName %></p>
                        <p class="text- ms-3 my-0"><%= order.orderAddress.address %>,<%= order.orderAddress.city %>,<%= order.orderAddress.state %></p>
                        <p class="fs-6 ms-3 text-"><%= order.orderAddress.pincode %></p>
                        <% } %>
                    </div> 
                </div>
                
            </div>
        </div>


        <div class="card col-lg-5 mt-2 border border-secondary px-0">
        <h5 class="card-title m-2 ">Payment</h5>
        <hr class="m-0">
        <div class="d-flex justify-content-between">
            <p class="m-2">Items</p>
            <p class="m-2"><%= order.items.length %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Total Price:</p>
            <p class="m-2 text-dark">+ Rs <%= order.totalPrice %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Discound</p>
            <p class="m-2 text-danger">-  0.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Payment:</p>
            <% if(order.paymentMethod === 'cashOnDelivery') {%>
              <p class="m-2 text-dark">Cash On Delivery</p>
              <% } else if(order.paymentMethod === 'PaidOnWallet') { %>
                <p class="m-2 text-success fw-bold">Paid with Wallet</p>
                <% } else { %>
                  <p class="m-2 text-success">Paid</p>
                  <% } %>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="m-2">Total Price:</p>
            <p class="m-2">+ Rs <%= order.totalPrice %> </p>
          </div>
        
        <!-- <div class="card-footer px-0 py-0">
        
          </div> -->
        </div>
  </div>

<div class="row mt-3 mb-5">
    <% if(order.orderStatus === 'Return Accepted') {%>
      <h2 class="mx-1">Order Update</h2>
    <hr>
      <div class="ms-4 col-md-6">
        <div class="card border border-dark">
          <div class="card-header fw-bold text-danger">
            Return Order
          </div>
          <div class="card-body">
            <h4 class="card-title">Reason</h4>
            <p class="card-text fs-5"><%= returnDetails.reason %></p>
            <div class="d-flex justify-content-end">
              <h5 class="text-success">Accepted</h5>
            </div>
          </div>
        </div>
      </div>
      <% } else if(order.orderStatus === 'Return Pending') {%>
        <h2 class="mx-1">Order Update</h2>
    <hr>
        <div class="ms-4 col-md-6">
        <div class="card">
          <div class="card-header text-danger">
            Return Requiest
          </div>
          <div class="card-body">
            <h4 class="card-title">Reason</h4>
            <p class="card-text fs-5 mb-0"><%= returnDetails.reason %></p>
            <div>
              <% if(returnDetails.reason === 'Damaged') {%>
              <p class="text-muted p-0 m-0">The product will not be added to the stock</p>
              <% } %>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" onclick="returnConfirm('<%= order._id %>')" class="btn btn-primary">Accept</button>
            </div>
          </div>
        </div>
      </div>
        <%} else { if(order.orderStatus === 'Processing'){ %>
          <h2 class="mx-1">Order Update</h2>
    <hr>
          <div class="mx-3 mt-2 d-flex">
          <h4>Status : </h4>
            <div class="dropdown dropend ms-2 mb-5">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Processing
                </a>
              
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                  <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Confrimed')" class="dropdown-item text-dark fw-bold" href="#">Confrim Order</button></li>
                  <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Shipping')" class="dropdown-item text-warning fw-bold" href="#">Shipping</button></li>
                  <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Delivered')" class="dropdown-item text-success fw-bold" href="#">Derlivered</button></li>
                </ul>
              </div>

            <% } else if(order.orderStatus === 'Confrimed') { %>
              <h2 class="mx-1">Order Update</h2>
    <hr>
              <div class="mx-3 mt-2 d-flex">
                <h4>Status : </h4>
                <div class="dropdown dropend ms-2 mb-5">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Confrimed
                    </a>
                  
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                      <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Shipping')" class="dropdown-item text-warning fw-bold" href="#">Shipping</button></li>
                      <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Delivered')" class="dropdown-item text-success fw-bold" href="#">Derlivered</button></li>
                    </ul>
                  </div>

                <% } else if(order.orderStatus === 'Shipping') { %>
                  <!-- <h2 class="mx-1">Order Update</h2>
                    <hr> -->
                  <div class="mx-3 mt-2 d-flex">
                    <h4>Status : </h4>
                    <div class="dropdown dropend ms-2 mb-5">
                        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Shipping
                        </a>
                      
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                          <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Delivered')" class="dropdown-item text-success fw-bold" href="#">Derlivered</button></li>
                        </ul>
                      </div>

                    <% } else {%>

                        <!-- <div class="dropdown dropend ms-2 mb-5">
                            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              Delivered
                            </a>
                          
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                              <li><button type="button" onclick="orderStatusConfrim('<%= order._id %>','Processing')" class="dropdown-item text-secondary fw-bold" href="#">Processing</button></li>
                            </ul>
                          </div> -->

                        <% } } %>
        
    </div>

</div>
    
</div>
</div>
</div>
</div>
<script>

async function returnConfirm(orderId){
  try {
    let responce = await fetch(`/admin/order/${orderId}/return`,{
      method:'PUT',
      headers:{
        'Content-Type': 'application/json'
      }
    });
    if(responce.ok){
      window.location.reload();
    }

  } catch (error) {
    console.log(error);
  }
}

async function orderStatusConfrim(orderId,updateStatus){
    try {
        let status = {}
        status.orderStatus = updateStatus
        await fetch(`/admin/order/${orderId}/status`,{
            method:'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(status)
        });
        window.location.reload();
    } catch (error) {
        console.log(error);
    }
}


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
