<%- include('../partials/header.ejs') %>
    <%- include('../partials/user-navbar.ejs') %>

    <div class="container">
        <div class="row mt-4">
            <h1 class="mb-0">Order Details</h1>
                <hr class="mt-0">
        </div>

        <div class="row">
            <h2 class="mx-2">Items</h2>
            <hr>
            <% userOrder.items.forEach(function(item){ %>
                <div class="card mb-3" >
                  <div class="row g-0 d-flex align-items-center px-2">
                    <div class="col-lg-1 col-md-4 d-flex justify-content-center" >
                      <a class="text-secondary text-decoration-none" href="/product/<%= item.product._id %>">
                      <img src="<%= item.product.images[0] %>" class="img-fluid rounded-start " alt="" style="width: 10rem;">
                  </a>
                  
                    </div>
                    <div class="col-lg-4 col-md-3">
                      <div class="card-body">
                          
                        <h5 class="card-title fw-bold text-start"><%= item.product.productName %></h5>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                      <div class="card-body text-center">
                          <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                        <h5 class="card-title"><%= item.product.price %></h5>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                      <div class="card-body text-center">
                          <h6 class="card-subtitle mb-2 text-muted">quantity</h6>
                        <h5 class="card-title"><%= item.quantity %></h5>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                      <div class="card-body text-center">
                          <h6 class="card-subtitle mb-2 text-muted">Total Price</h6>
                        <h5 class="card-title"><%= item.product.price * item.quantity %></h5>
                      </div>
                    </div>
                  </div>
                </div>
          <% }) %>
        </div>
        
        <hr>


    <div class="row mt-4 d-flex justify-content-between">
        <div class="col-lg-6">
            <h2 class="mx-1">Order Details</h2>
            
            <div class="mx-2 mt-3">
                <div class="d-flex ">
                    <h5 class="mt-1 ">Order Id : </h5><p class="my-0 fs-5"> <%= userOrder._id.toString()  %></p>
                </div>
                
                <div class="d-flex ">
                    <h5 class="mt-1 ">Order Date : </h5><p class=" my-0 fs-5 "> <%= userOrder.orderDate.toLocaleString('default',{day: 'numeric', month: 'numeric', year: 'numeric'}) %></p>
                </div>
                
                <div class="d-flex ">
                    <h5 class="mt-1 ">Status :</h5><p class=" my-0 fs-5 "><%= userOrder.orderStatus %></p>
                </div>
                <div class="d-flex">
                    <h5 class="mt-1">Address :</h5>
                    <div>
                        <p class=" fs-5 ms-3 my-0"><%= userOrder.orderAddress.houseName %></p>
                        <p class="text- ms-3 my-0"><%= userOrder.orderAddress.address %>,<%= userOrder.orderAddress.city %>,<%= userOrder.orderAddress.state %></p>
                        <p class="fs-6 ms-3 text-"><%= userOrder.orderAddress.pincode %></p>
                    </div> 
                </div>
                
            </div>
        </div>


        <div class="card col-lg-5 mt-2 border border-secondary px-0">
        <h5 class="card-title m-2 ">Payment</h5>
        <hr class="m-0">
        <div class="d-flex justify-content-between">
            <p class="m-2">Items</p>
            <p class="m-2"><%= userOrder.items.length %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Total Price:</p>
            <p class="m-2 text-dark">+ Rs <%= userOrder.totalPrice %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Discound</p>
            <p class="m-2 text-danger">-  0.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-2">Payment:</p>
            <p class="m-2 text-dark">Cash On Delivery</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="m-2">Total Price:</p>
            <p class="m-2">+ Rs <%= userOrder.totalPrice %> </p>
          </div>
        
        <div class="card-footer px-0 py-0">
        
          </div>
        </div>
  </div>

  <div class="row mt-5">
        <div class=" d-flex justify-content-center">
            <a href="/" class="btn btn-dark py-2 px-5">continue Shoping</a>
        </div>
  </div>

</div>
    <%- include('../partials/footer.ejs') %>