<%- include('../partials/header.ejs') %>
    <%- include('../partials/user-navbar.ejs') %>

    <div class="container">
        <div class="row mt-4">
            <h1 class="mb-0">Cart</h1>
            <hr class="mt-0">
        </div>

        <% if (message.error) { %>
          <div class="alert alert-danger" role="alert">
              <%= message.error %>
          </div>
      <% } %>

        <div class="row">

            <% if(!userCart || userCart.items.length ===0 ) {%>
            <div class="col-lg-12 d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <img width="328rem" src="/image/noCartItemsImage.png" alt="no cart items">
                </div>
                <div class="d-flex justify-content-center">
                    <h1 class="fw-bold">!OOPS Your cart is Empty...</h1>
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <a href="/" class="btn btn-outline-dark">continue Shoping</a>
                </div>
            </div>
            </div>
            <% } else { %>
                <% userCart.items.forEach(function(cart,index){ %>
                  <div class="card mb-3" >
                    <div class="row g-0 d-flex align-items-center px-2">
                        <div class="col-lg-1 col-md-1 d-flex justify-content-center">
                            <button type="button" onclick="removeItem('<%= cart.product._id %>')" class="btn btn-danger py-0">-</button>
                          </div>
                      <div class="col-lg-1 col-md-4 d-flex justify-content-center" >
                        <a class="text-secondary text-decoration-none" href="/product/<%= cart.product._id %>">
                        <img src="<%= cart.product.images[0] %>" class="img-fluid rounded-start " alt="" style="width: 10rem;">
                    </a>
                      </div>
                      <div class="col-lg-4 col-md-3">
                        <div class="card-body">
                            
                          <h5 class="card-title fw-bold text-start"><%= cart.product.productName %></h5>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-3">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                          <h5 class="card-title"><%= cart.product.price %></h5>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2">
                        <div class="card-body text-center">
                            <h6 onclick="see()" class="card-subtitle mb-2 text-muted">quantity</h6>
                          <!-- <h5 class="card-title"><%= cart.quantity %></h5> -->
                          <div class=" mx-3 d-flex justify-content-center">
                            <button onclick="changeQuantity('<%= cart.product._id %>',-1)" class="btn btn-outline-dark rounded-end" type="button" id="decreaseBtn">-</button>
                            <input type="number" class="form-control ps-4 text-center bg-light rounded-0 fw-bold" id="quantity" value="<%= cart.quantity %>" name="quantity" readonly>
                            <button onclick="changeQuantity('<%= cart.product._id %>',1)" class="btn btn-outline-dark rounded-start" type="button" id="increaseBtn">+</button>
                        </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle mb-2 text-muted">Total Price</h6>
                          <h5 class="card-title"><%= cart.product.price * cart.quantity %></h5>
                        </div>
                      </div>
                    </div>
                  </div>
            <% }) %>
                
        </div>

        

        <div class="row d-flex justify-content-end">
            <div class="card col-lg-5 border border-secondary px-0">
              
            <h6 class="card-title m-2">Summary</h6>
            <hr class="m-0">
            <div class="d-flex justify-content-between">
                <p class="m-2">Items</p>
                <p class="m-2"><%= userCart.items.length %></p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="m-2">Coupons</p>
                <a class="m-2 text-dark">Add coupon</a>
              </div>
              <div class="d-flex justify-content-between">
                <p class="m-2">Discount:</p>
                <p class="m-2 text-danger">- Rs 0.00</p>
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="m-2">Total Price:</p>
                <p class="m-2">+ Rs <%= totalPrice %></p>
              </div>
            
            <div class="card-footer px-0 py-0">
            <div class="row px-">
                <div class="col-lg-12">
                    <a href="cart/<%= userCart._id %>/checkout" class="btn btn-dark py-2 px-5 w-100">Check Out</a>
                </div>
                
            </div> 
              </div>
            </div>
      </div>
      <% } %>

    </div>
    <%- include('../partials/footer.ejs') %>

<script>



  async function changeQuantity(productId,change){
    try {
      let cartQuantity ={}
      cartQuantity.change = change
       let responce = await fetch(`/cart/${productId}/change`,{
        method:'PUT',
        headers: {
            'Content-Type': 'application/json',
       },
       body:JSON.stringify(cartQuantity),
      })
     if(responce.ok==true){
      window.location.reload();
     } 
     
    } catch (error) {
      console.log(error);
    }
  }

    async function removeItem(productId){
        try {
            await fetch(`/cart/${productId}/delete`,{
                method:'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            credentials: 'include',
        });
            window.location.reload();
        } catch (error) {
            console.log(error);
        }
    }

</script>

    